{{ define "main" }}
<article class="container">
  <div class="post-header">
    <h1>{{ .Title }}</h1>
  </div>

  {{ with .Params.featuredImage }}
  <div class="featured-image-focus">
    <img src="{{ . }}" alt="{{ $.Title }}">
  </div>
  {{ end }}

  <div class="post-content">
    {{ .Content }}
  </div>

  <!-- Language switcher for this page -->
  <div class="post-translations">
    {{ if .IsTranslated }}
      <p>{{ if eq .Language.Lang "en" }}Read in:{{ else }}ಓದಿ:{{ end }}
      {{ range .Translations }}
        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      {{ end }}
      </p>
    {{ end }}
  </div>
</article>
{{ end }}
