{{ $imageParam := .Get "image" }}
{{ $title := .Get "title" }}
{{ $align := .Get "align" | default "left" }}

{{- $imgSrc := $imageParam -}}
{{- $imgPath := strings.TrimPrefix "/assets/" $imageParam -}}
{{- with resources.Get $imgPath -}}
  {{- $imgSrc = .RelPermalink -}}
{{- end -}}

<div class="initiative-card {{ if eq $align "right" }}reverse{{ end }}">
  <div class="initiative-image">
    <img src="{{ $imgSrc }}" alt="{{ $title }}">
  </div>
  <div class="initiative-content">
    {{ if $title }}
    <h3>{{ $title }}</h3>
    {{ end }}
    <div class="initiative-text">
      {{ .Inner | markdownify }}
    </div>
  </div>
</div>
